<h3>CONTACT US FOR FRANCHISE</h3>
<p style="color: red;font-size: 22px;">Boardline : 022 6735 8939</p><br>

<h3 id="feedback">WANT TO SHARE FEEDBACK?</h3>
<a routerLink="/feedback" routerLinkActive="active">Click Here</a><br><br>  <!-- routerLink="/feedback it is nothing but localhost:4200/feedback-->
                                                                            <!-- routerLink="feedback it is nothing but localhost:4200/contact/feedback  nested routing-->
<router-outlet></router-outlet>