<div class="nav1">
    <p>DAILY ROUTINE</p>
    <P>SAFETY PRACTICE</P>
    <P>GIFTING</P>
</div>
<div class="nav2">
    <div class="image">
        <img src="/assets/SBARRO logo.png" class="logo">
    </div>
    <div class="links">
        <a routerLink="/dashboard" >HOME</a>
        <a routerLink="localhost:4200" >ORDER ONLINE</a>
        <a routerLink="#" >ABOUT US</a>
        <a routerLink="#" >OUR FOOD</a>
        <a routerLink="#" >MENU</a>
        <a routerLink="#" >FRANCHISE ENQUIRY</a>
        <a routerLink="#" >STORE LOCATOR</a>
        <a routerLink="#" >CAREERS</a>
        <a routerLink="/contact" >CONTACT US</a>
    </div>
</div>
<!-- <div class="banner" *ngIf="destroy"></div> -->
    
<router-outlet></router-outlet>
