<!-- <app-data-binding></app-data-binding> -->

<!-- <app-directives></app-directives> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-async-pipe></app-async-pipe> -->

<!-- <app-template-reference-variable></app-template-reference-variable> -->

<!-- <h3>Parent component: <input type="text" [(ngModel)]="data"></h3>
<app-input-decorator-p-to-c [passed_property]="data" [passed_array]="array"></app-input-decorator-p-to-c> -->

<!-- <app-output-decorator-c-to-p (custom_event)="getting_data=$event"></app-output-decorator-c-to-p>
<h3>Parent Component: {{getting_data}}</h3> -->

<!-- <app-template-ref-variable-c-to-p #child></app-template-ref-variable-c-to-p>
FullName: <input type="text" value={{child.child_data}}> -->

<!-- <app-viewchild-decorator-c-to-p></app-viewchild-decorator-c-to-p>
<button (click)="test()">passToParent</button> -->

<!-- <app-dom-manipulation></app-dom-manipulation> -->

<!-- <app-viewchild-viewchildren></app-viewchild-viewchildren> -->

<!-- <app-ng-content>
    <ul id="u">
        <li>parent list1</li>
        <li>parent list2</li>
    </ul>
    <div class="dt">{{data}}</div>
    <h1>parent</h1>
    <h1 class="h">parent</h1>
</app-ng-content> -->

<!-- <app-routing></app-routing> -->

<!-- <app-sbarro></app-sbarro> -->

<!-- <h3>Parent component: <input type="text" [(ngModel)]="data"></h3>
<app-ng-on-changes [receiving_data]="data"></app-ng-on-changes> -->

<!-- <div class="w-50 m-4">
    <input type="text" class="form-control" [(ngModel)]="mobile" placeholder="Enter the mobile name">
    <button class="btn btn-primary mt-2" (click)="addMobile()">Add</button>
</div>
<app-ng-do-check></app-ng-do-check> -->

<!-- <h3>Parent component: <input type="text" [(ngModel)]="data"></h3>
<app-ng-on-init [received_data]="data"></app-ng-on-init> -->

<!-- <app-ng-view-init-view-checked></app-ng-view-init-view-checked> -->

<!-- <app-ng-content-init-content-checked>
    <h1>This is content projection from parent component</h1>
</app-ng-content-init-content-checked>
<button (click)="increment()">Increment</button> -->

<!-- <app-ng-destroy></app-ng-destroy> -->

<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <app-http-service></app-http-service> -->

<app-crud-operations></app-crud-operations>

<!-- <app-observable></app-observable> -->

<!-- <app-greet></app-greet> -->